@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.left .image {
    text-align: center;
    padding: 20px 0;
}
.left .image img {
    width: 200px;
    border-radius: 30px;
}
.left {
    background: #292b2f;
    width: 250px;
    padding: 0 20px;
}
.left .icon {
    font-size: 20px;
    color: #000;
}
.left .text {
    color: #000;
    text-transform: uppercase;
    font-size: 13px;
}
.title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 10px;
    color: tan;
    position: relative;
    text-align: right;
    margin-bottom: 15px;
}
.title::before {
    content: "";
    position: absolute;
    top: 35px;
    right: 0;
    width: 50px;
    height: 3px;
    background: linear-gradient(to right, #fff, tan)
}
.contact .li_wrap {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}
.contact .li_wrap .icon {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.contact .li_wrap .text {
    width: calc(100% - 50px);
    word-break: break-word;
    color: #fff;
}
.skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skills .li_wrap {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
}
.skills .li_wrap .text,
.hobbies .li_wrap .text {
    margin-top: 5px;
}
.hobbies ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hobbies .li_wrap {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hobbies .li_wrap .text {
    margin-top: 5px;
}
.hobbies .li_wrap {
    border: 2px solid #fff;
}
.hobbies .li_wrap .icon,
.hobbies .li_wrap .text {
    color: #fff;
}
.hobbies .li_wrap:hover{
    background: #fff;
}
.hobbies .li_wrap:hover .icon,
.hobbies .li_wrap:hover .text {
    color: #000;
}
.hobbies .li_wrap:active{
    background: tan;
}
.hobbies .li_wrap:active .icon,
.hobbies .li_wrap:active .text {
    color: #fff;
}
.right {
    width: calc(100% - 250px);
}
.resume {
    width: 800px;
    background: #fff;
    margin: 25px auto;
    display: flex;
}
body {
    background: linear-gradient(to right, #000, #2d2a30, #000);
}
.header {
    background: #292b2f;
    padding: 35px 15px;
    color: #fff;
    height: 240px;
}
.header .name {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    color: tan;
}
.header.role {
    font-weight: 300;
    font-size: 20px;
}
.header .about {
    margin-top: 20px;
    line-height: 26px;
}
.right_inner {
    padding: 30px;
    color: #292b2f;
}
.right_inner .li_wrap {
    display: flex;
    margin-bottom: 15px;
}
.right_inner .li_wrap .date {
    width: 125px;
    color: #292b2f;
}
.right_inner .li_wrap .info {
    width: calc(100% - 150px);
    padding-left: 25px;
    position: relative;
}
.right_inner .li_wrap .info_title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: #292b2f;
}
.right_inner .li_wrap .info_com {
    font-weight: 300;
    font-size: 14px;
    margin-top: 3px;
}
.right_inner .li_wrap .info_cont {
    margin-top: 15px;
}
.right_inner .education {
    margin-top: 30px;
}